*{
	margin:0px;
	padding:0px;
}
#login{
	
	position:relative;
	width:520PX;
	height:460px;
	margin:0px auto;
	margin-top:90px;
padding:40px;
background-color:#5e5e5e;

} 
#login p{
	color:#fff;
	margin-bottom:10px;
	margin-top:10px;
	letter-spacing:2px;
	font-size:19px;
}
#olvidar a{
	float:right;
	margin-bottom:10px;
	margin-top:10px;
	color:white;
	text-decoration:none;
	letter-spacing:1px;
transition: all 200ms;
}
#olvidar a:hover{
	transform:scale(1.2,1.2);
}

#login input[type="contraseña"], #login input[type="email"]{
height:30px;
width:94.6%;
background:transparent;
color:#c6c6c6;
border-radius:10px;
padding-left:26px;
border:2px outset;
}

#login input[type="contraseña"]:focus, #login input[type="email"]:focus{
    border:2px inset #c6c6c6;
    box-shadow: 0 0 10px #c6c6c6;
}
#botonlogin{
	text-align:center;
	margin:40px;
}
#botonlogin a{
	position:relative;
	display:inline-block;
	text-decoration:none;
	padding: 15px 30px;
	font-size:24px;
	color:#ffffff;
	text-transform:uppercase;
	letter-spacing: 3px;
overflow:hidden;
transition:0.5s;
}
#botonlogin a:hover{
color:#0f1b27;
background:#c6c6c6;
box-shadow: 0px 0px 10px #c6c6c6,
 0px 0px 40px #c6c6c6 ,0px 0px 80px #c6c6c6;
}
#registrar{
text-align: center;	
}
#registrar a{
	color:white;
	text-decoration:none;
	letter-spacing:1px;
transition: all 200ms;
}
#registrar a:hover{
	color: blue;
	transform:scale(1.2,1.2);
}